body{
    font-family: 'Righteous';
    height: 1080px;
    background: linear-gradient(to bottom right, 
    rgb(160, 10, 230), 
    rgb(255, 0, 128));
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

h1{
    color: rgb(255, 255, 245);
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.block{
    border: 1px solid black;
}

.grid{
    display: flex;
    border: 3px solid black;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.container{
    padding: 0px 380px 0px 380px;
}

.grid-container{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 50px 250px 50px 0px;
    background-color: rgb(255, 255, 245);
    border-radius: 20px;
}

.header{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 10px;
    width: 200px;
    justify-content: center;
}

.buttons button{
    font-family: 'Righteous';
    font-size: 16px;
    padding: 10px 20px;
    color: white;
    background-color: rgb(43, 135, 255);
    border: 0px;
    /*border: 2px solid rgb(0, 81, 255);*/
    box-shadow: 3px 3px 2px rgb(0, 81, 255);
}

.buttons button.clicked{
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(206, 43, 255);
    box-shadow: 5px 5px 3px rgb(140, 0, 255);
}

.slider-container{
    padding: 40px 0px;
}

.slider{
    width: 200px;
}

.slider-value{
    display: flex;
    justify-content: center;
}


